<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Guru.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E1F3F32C1E331BB3003C281D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1F3F3401E331BB4003C281D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1F3F34B1E331BB4003C281D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
